title = "Movie"
url = "/movie/:slug"
layout = "Default"
is_hidden = 0

[builderDetails]
modelClass = "Mero\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Movie not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
<div class="row mb-4">
    <div class="col-md-2">
        <img src="{{ record.thumbnail.path }}" alt="">
    </div>
    <div class="col-md-6">
        <h1>{{ record.title }}</h1>
        <div>{{ record.year }}</div>
        <div>{{ record.description|raw }}</div>
    </div>
</div>
{% if record.gallery.count > 0 %}
<h3>Photos</h3>
<div class="d-flex p-3 border rounded bg-light">
    {% for image in record.gallery %}
    <a href="{{ image.path }}">
        <img src="{{ image.thumb(150, 150, {'mode':'crop'}) }}" class="img-thumbnail m-1" alt="">
    </a>
    {% endfor %}
</div>
{% endif %}

{% if record.genres %}
<h3>Genres</h3>
<ul class="list-inline">
    {% for genre in record.genres %}
    <li class="list-inline-item">
        <a href="/genres/{{ genre.slug }}">
            {{ genre.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% else %}
{{ notFoundMessage }}
{% endif %}